<section class="Preview">
  <header class="Preview-title column-group push-center">
    <div class="all-100">Autocompleted</div>
  </header>
  <div class="Preview-content column-group push-center horizontal-gutters">
    <div class="Preview-demo all-50"><div id="autocompleted-container-languages"></div>
    <div class="Preview-demo all-50"><div id="autocompleted-container-github"></div>
  </div>
</section>
<script src="public/js/autocompleted.bundle.js"></script>
