<section class="Preview">
  <header class="Preview-title column-group push-center">
    <div class="all-100">Buttons</div>
  </header>
  <div class="Preview-content column-group push-center horizontal-gutters">
    <div class="all-33">
      <div class="column-group push-center vertical">
        <div id="normal" class="Preview-demo all-33"></div>
        <div id="active" class="Preview-demo all-33"></div>
        <div id="hover" class="Preview-demo all-33"></div>
        <div id="disabled" class="Preview-demo all-33"></div>
      </div>
    </div>
    <div class="all-33">
      <div class="column-group push-center vertical">
        <div id="normal-normal" class="Preview-demo all-33"></div>
        <div id="normal-large" class="Preview-demo all-33"></div>
        <div id="normal-extra-large" class="Preview-demo all-33"></div>
      </div>
    </div>
    <div class="all-33">
      <div class="column-group push-center vertical">
        <div id="normal-user" class="Preview-demo all-33"></div>
        <div id="normal-clock" class="Preview-demo all-33"></div>
        <div id="normal-edit" class="Preview-demo all-33"></div>
      </div>
    </div>
  </div>
</section>
<script src="public/js/button.bundle.js"></script>
