<!DOCTYPE html>
<html lang="en" class="infojobs">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Schibsted ReactJS themes showcase</title>

    <!-- ink-flex -->
    <link rel="stylesheet" href="http://cdn.ink.sapo.pt/3.1.9/css/ink-flex.min.css">
    <link rel="stylesheet" href="public/css/bundle.css">

  </head>
  <body class="ink-grid">
    <header class="header column-group push-center">
      <div class="all-50">Schibsted ReactJS themes showcase</div>
    </header>
    <nav class="nav column-group push-center">
      <div class="all-25"><img src="public/images/infojobs.jpg" alt="InfoJobs" data-theme="infojobs"></div>
      <div class="all-25"><img src="public/images/fotocasa.jpg" alt="Fotocasa" data-theme="fotocasa"></div>
      <div class="all-25"><img src="public/images/segundamano.jpg" alt="Segundamano" data-theme="segundamano"></div>
      <div class="all-25"><img src="public/images/coches.jpg" alt="Coches.net" data-theme="coches"></div>
    </nav>
    {% include "./_buttons.html" %}
    {#
      {% include "./_autocompleted.html" %}
    #}
    <script src="public/js/index.bundle.js"></script>
  </body>
</html>
