$coches-base-background-color: #E84C3D;
$coches-base-font-color: #fff;
$coches-base-size: 28px;

html.coches {
  & .sui-Button {

    border-radius: 3px;
    
    &-icon {
      margin-right: 15px;
    }
    &--large {
      line-height: 46px;
    }

    &--extraLarge {
      line-height: 92px;
    }

    &.is-rest {
      color: $coches-base-font-color;
      background-color: $coches-base-background-color;
    }

    &:hover,
    &.is-rest {
      color: $coches-base-font-color;
      background-color: darken($coches-base-background-color, 10%);
    }

    &:active,
    &.is-active {
      color: $coches-base-font-color;
      background-color: darken($coches-base-background-color, 20%);;
    }

    &.is-disabled {
      color: $coches-base-font-color;
      background-color: grayscale($coches-base-background-color);
    }
  }
}

