$fotocasa-base-background-color: #ec671c;
$fotocasa-base-font-color: #fff;
$fotocasa-base-size: 28px;

html.fotocasa {
  & .sui-Button {
    
    &-icon {
      margin-right: 15px;
    }
    &--large {
      line-height: 46px;
    }

    &--extraLarge {
      line-height: 92px;
    }

    &.is-rest {
      color: $fotocasa-base-font-color;
      background-color: $fotocasa-base-background-color;
    }

    &:hover,
    &.is-rest {
      color: $fotocasa-base-font-color;
      background-color: darken($fotocasa-base-background-color, 10%);
    }

    &:active,
    &.is-active {
      color: $fotocasa-base-font-color;
      background-color: darken($fotocasa-base-background-color, 20%);;
    }

    &.is-disabled {
      color: $fotocasa-base-font-color;
      background-color: grayscale($fotocasa-base-background-color);
    }
    
    
  }
}
