$infojobs-base-background-color: #2088c2;
$infojobs-base-font-color: #fff;
$infojobs-base-size: 28px;

html.infojobs {
  & .sui-Button {
    
    &-icon {
      margin-right: 5px;
    }
    &--large {
      line-height: 36px;
    }

    &--extraLarge {
      line-height: 72px;
    }

    &.is-rest {
      color: $infojobs-base-font-color;
      background-color: $infojobs-base-background-color;
    }

    &:hover,
    &.is-rest {
      color: $infojobs-base-font-color;
      background-color: darken($infojobs-base-background-color, 10%);
    }

    &:active,
    &.is-active {
      color: $infojobs-base-font-color;
      background-color: darken($infojobs-base-background-color, 20%);;
    }

    &.is-disabled {
      color: $infojobs-base-font-color;
      background-color: grayscale($infojobs-base-background-color);
    }
    
    
  }
}
