$segundamano-base-background-color: #ff9326;
$segundamano-base-font-color: #fff;
$segundamano-base-size: 28px;

html.segundamano {
  & .sui-Button {

    font-size: 12px;
    text-transform: uppercase;

    &-icon {
      margin-right: 15px;
    }
    &--large {
      line-height: 46px;
    }

    &--extraLarge {
      line-height: 92px;
    }

    &.is-rest {
      color: $segundamano-base-font-color;
      background-color: $segundamano-base-background-color;
    }

    &:hover,
    &.is-rest {
      color: $segundamano-base-font-color;
      background-color: darken($segundamano-base-background-color, 10%);
    }

    &:active,
    &.is-active {
      color: $segundamano-base-font-color;
      background-color: darken($segundamano-base-background-color, 20%);;
    }

    &.is-disabled {
      color: $segundamano-base-font-color;
      background-color: grayscale($segundamano-base-background-color);
    }
    
    
  }
}

