body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #c7d0d3;
  font-size: 16px;
  font-family: Proximanova, Helvetica, Arial, sans-serif;
  line-height: 20px;
}


.header {
  background-color: #2088c2;
  color: #ffffff;
  text-align: center;
  line-height: 50px;
}

.nav {
  background-color: #ffffff;
  margin: 10px auto;
  padding: 5px 20px;
}


.Preview {
  background-color: #ffffff;
  margin-bottom: 15px;
}
.Preview-title {
  border-bottom: 1px solid #e2e5e6;
  background-color: #f2f2f2;
  color: #666666;
  text-align: center;
  font-size: 18px;
  line-height: 50px;
}

.Preview-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.Preview-demo {
  margin: 10px auto;
  text-align: center;
}
